.bg-navy {
  background-color: #212e37 !important;
}

.nav-navy {
  background-color: #2b3743 !important;
}

.real-bg-navy {
  background-color: #212e37 !important;
  width: 100vw;
  height: 100vh;
}

.roads {
  /* animation: moving 50s linear infinite; */
}

.moveCar{
  animation: carMoves 10s linear infinite;
}

.moveBus {
  animation: busMoves 15s linear infinite;
}

@keyframes moving {
  100% {
    transform: translateX(-2950px);
  }
}

@keyframes busMoves {
  100% {
    transform: translateX(1400px);
  }
}

@keyframes carMoves {
  100% {
    transform: translateX(-1500px);
  }
}
