.bg-navy {
  background-color: #212e37 !important;
}

.nav-navy {
  background-color: #2b3743 !important;
}

.real-bg-navy {
  background-color: #212e37 !important;
  width: 100vw;
  height: 100vh;
}

.roads {
  /* animation: moving 50s linear infinite; */
}

.moveCarMedium{
  animation: carMoves 10s linear infinite;
  left: 96%;
}

.moveCarFast{
  animation: carMoves 5s linear infinite;
  left: 96%;
}

.moveCarSlow{
  animation: carMoves 20s linear infinite;
  left: 96%;
}

.moveBusMedium {
  animation: busMoves 10s linear infinite;
  left: -10%;
}

.moveBusSlow {
  animation: busMoves 20s linear infinite;
  left: -10%;
}

.moveBusFast {
  animation: busMoves 5s linear infinite;
  left: -10%;
}

@keyframes moving {
  100% {
    transform: translateX(-2950px);
  }
}

@keyframes busMoves {
  100% {
    transform: translateX(1400px);
  }
}

@keyframes carMoves {
  100% {
    transform: translateX(-1500px);
  }
}

.float-right {
  float: right;
}

* {
  margin: 0px;
}